@media (min-width: 568px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    .col-sml-4 {width: 33.33%;}
    .col-sml-6 {width: 50%;}
    .col-sml-8 {width: 66.66%;}
    [class*="col-"] {
        padding: 10px;
    }

}

@media (min-width: 768px) {
    .col-md-12 {width: 100%;}

    [class*="prt-card-"] {
        height: 400px;
    }
} 