/* ======= Reset ========== */
* {
    font-family: 'Source Sans Pro' ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  =========== General ========== */
body {
    background: rgb(85, 87, 87);
}

.container {
    width: 90%;
    margin: auto;
}

h1 {
    color: white;
    display: none;
}

.sub-titles {
    color: white;
}

.text-center {
    text-align: center;
}
/* ========= Navigation ========== */
.nav {
    background-color: rgba(40, 43, 43, 0.692);
}

nav ul li{
    list-style: none;
    border-bottom: solid 2px #c9baba62;
}

.link-menu {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
.nav ul.list-menu {
    display: none; 
}

[class*="fa-"] {
    font-size: 1.5rem;
    color: rgba(34, 135, 202, 0.781);
    padding: 10px;
}

/* ========= Header ============ */
 .bg-img {
     background-image: url("../img/bg-img.jpeg");
     width: 100%;
     height: 200px;
     background-size: cover;
     background-position: center;
     position: relative;
 }

 .overlay {
     background-color: rgba(47, 79, 79, 0.3);
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
 }

 .col-reverse {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 65;
 }

 div.col-reverse h2.sub-titles {
     font-size: 2.5rem;
 }

 .stl-button{
    border: solid 2px white;
    font-size: 1.2rem;
    color: white;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 20px;
    background: none;
  }
  .stl-button:hover {
      background: white;
      color: cadetblue;
  }
 /* ============ About Me ============= */
 .dpl-img {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .img-profile {
     background-color: rgba(47, 79, 79, 0.3);
     background-image: url("../img/img-profile.jpg");
     background-position: center;
     background-size: cover;
     border: solid 5px rgb(58, 55, 55);
     border-radius: 50%;
     width: 200px;
     height: 200px;
     margin-top: 20px;
 }

 div.dpl-img {
     color: white;
     text-align: center;
 }

 .stl-lst {
     list-style: none;
 }

 /* ========= Skills ======= */
 .stl-p {
     font-size: 1.2rem;
     color: rgba(52, 183, 223, 0.938);
 }

 .mrg-btn {
     margin-bottom: 3rem;
 }
 
.line-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

 .line-white {
    border-bottom:solid 6px white;
    width: 100%;
    height: 3px;
    position: relative;
    border-radius: 5px;
 }

 .line-bl-h {
    border-bottom:solid 6px  rgba(52, 183, 223, 0.938);
    width: 30%;
    height: 6px;
    position: absolute;
 }

 .line-bl-c {
    border-bottom:solid 6px  rgba(52, 183, 223, 0.938);
    width: 50%;
    height: 6px;
    position: absolute;
 }

 .line-bl-c-plus{
    border-bottom:solid 6px  rgba(52, 183, 223, 0.938);
    width: 80%;
    height:  6px;
    position: absolute;
 }

 .line-bl-Python{
    border-bottom:solid 6px  rgba(52, 183, 223, 0.938);
    width: 40%;
    height: 6px;
    position: absolute;
 }

 /* =====  */

 .d-column {
     text-align: center;
     font-size: 1.9rem;
     color: rgba(52, 183, 223, 0.938);
 }

 /* ======= Portfolio ======= */

 .prt-card-ocean {
    width: 100%;
    height: 200px;
    background-image: url('https://images.pexels.com/photos/4616839/pexels-photo-4616839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    color: white;
 }

 .prt-card-{
     width: 100%;
     height: 200px;

 }
 .bg-prt {
     background-color: white;
 }

 .bg-prt .text-center {
     font-size: 3rem;
     color: rgba(52, 183, 223, 0.938);
     font-weight: 500;
     padding: 20px 0;
 }