/* ======= Reset ========== */
* {
    font-family: 'Source Sans Pro' ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  =========== General ========== */
body {
    background: rgb(85, 87, 87);
}

.container {
    width: 95%;
    margin: auto;
}

.sub-titles {
    color: white;
    font-size: 1.5rem;
}

.text-center {
    text-align: center;
}
/* ========= Navigation ========== */
.nav {
    padding: 10px 0;
}

nav ul li{
    list-style: none;
    border-bottom: solid 2px #c9baba62;
}

.link-menu {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}
.nav ul.list-menu {
    display: none; 
}


.btn-menu {
    font-size: 1.6rem;
    color: rgba(26, 134, 228, 0.849);
    padding: 10px;
}
h1.sub-titles {
    font-size: 3rem;
}

div.dpl-img h2.sub-titles {
    font-size: 2rem;
}

div.dpl-img p {
    font-size: 19px;
}
/* ========= Header ============ */
 .bg-img {
     background-image: url("../img/bg-img.jpeg");
     width: 100%;
     height: 200px;
     background-size: cover;
     background-position: center;
     position: relative;
 }

 .overlay {
     background-color: rgba(47, 79, 79, 0.3);
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
 }

 .col-reverse {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 65;
 }

 div.col-reverse h2.sub-titles {
     font-size: 2.5rem;
 }

 .stl-button{
    border: solid 2px white;
    font-size: 1.2rem;
    color: white;
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 20px;
    background: none;
  }
  .stl-button:hover {
      background: white;
      color: rgb(85, 87, 87);
  }
 /* ============ About Me ============= */
 .dpl-img {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .img-profile {
     background-color: rgba(47, 79, 79, 0.3);
     background-image: url("../img/img-profile.jpg");
     background-position: center;
     background-size: cover;
     border: solid 5px rgb(58, 55, 55);
     border-radius: 50%;
     width: 200px;
     height: 200px;
     margin-top: 20px;
 }

 div.dpl-img {
     color: white;
     text-align: center;
 }

 .stl-lst {
     list-style: none;
     margin-right: 10px;
 }

 .justify-center-btn {
     justify-content: center;
     align-items: center;
 }

 /* ========= Skills ======= */
 .stl-p {
     font-size: 25px;
     color: rgba(52, 183, 223, 0.938);
 }

 .mrg-btn {
     margin-bottom: 3rem;
 }
 
.line-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

 .line-white {
    border-bottom:solid 10px white;
    width: 100%;
    position: relative;
 }

 .line-bl-h {
    border-bottom:solid 10px  rgba(52, 183, 223, 0.938);
    width: 30%;
    position: absolute;
 }

 .line-bl-c {
    border-bottom:solid 10px  rgba(52, 183, 223, 0.938);
    width: 50%;
    position: absolute;
 }

 .line-bl-c-plus{
    border-bottom:solid 10px  rgba(52, 183, 223, 0.938);
    width: 80%;
    position: absolute;
 }

 .line-bl-Python{
    border-bottom:solid 10px  rgba(52, 183, 223, 0.938);
    width: 40%;
    position: absolute;
 }

 /* =====  */

 .d-column {
     text-align: center;
     font-size: 1.9rem;
     color: rgba(52, 183, 223, 0.938);
 }

 /* ======= Portfolio ======= */

 .prt-card-ocean {
    width: 100%;
    height: 200px;
    background-image: url('https://images.pexels.com/photos/4616839/pexels-photo-4616839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
 }

 .prt-card-vg{
     width: 100%;
     height: 200px;
     background-image: url('https://images.pexels.com/photos/1293269/pexels-photo-1293269.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
     background-size: cover;
 }

 .prt-card-pg {
     width: 100%;
     height: 200px;
     background-image: url('https://images.pexels.com/photos/4709289/pexels-photo-4709289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
     background-size: cover;
 }

 .prt-card-cd {
     width: 100%;
     height: 200px;
     background-image: url('https://images.pexels.com/photos/3825581/pexels-photo-3825581.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
     background-size: cover;
 }

 .bg-prt {
     background-color: white;
 }

 .bg-prt .text-center {
     font-size: 3rem;
     color: rgba(52, 183, 223, 0.938);
     font-weight: 500;
     padding: 20px 0;
 }

 .mrg-top {
     margin-top: 25px;
 }

 /* ======= footer ===== */

 .bg-footer {
     background-color: rgb(85, 87, 87);
 }

 footer h2.sub-titles {
     font-size: 3rem;
     text-align: center;
     margin-top: 50px;
 }

 footer span.sub-titles {
     display: block;
     text-align: center;
     margin-bottom: 50px;
 }

 footer p.sub-titles {
     margin-bottom: 50px;
 }

 .card {
     background-color: white;
     padding: 10px;
     margin: 10px 0;
     border-radius: 20px;
 }

 footer h2.stl-p {
     margin: 10px 0;
     font-weight: 300;
 }

 div.card p {
     font-size: 19px;
 }

 .btn-footer {
     font-size: 20px;
     color: rgba(33, 33, 216, 0.753);
     margin: 0 5px;
 }

 /* ============ Contact =========== */

 .text-contact {
     display: block;
     text-align: center;
     font-weight: 500;
     font-size: 1.5rem;
     color: rgb(61, 136, 235);
 }

 .border-contact h2.text-contact {
     font-size: 2.2rem;
 }
 .form {
     border: solid 2px grey;
     border-radius: 20px;
     width: 80%;
     margin: auto;
     padding: 15px;
 }
 
 .border-contact {
    padding-bottom: 40px;
    padding-top: 40px;
 }

 .link-form {
     width: 100%;
     height: 40px;
 }
 .link-message {
     width: 100%;
     height: 150px;
}
 .btn-form {
     margin-top: 15px;
     padding: 5px 10px;
     background: rgb(58, 138, 230);
     color: white;
     border-radius: 20px;
     font-size: 20px;
     border: none;
 }

 .btn-center {
     display: flex;
     justify-content: center;
 }

 .icons-footer {
     width: 100%;
     height: 60px;
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .icn-footer {
    font-size: 20px;
    color: rgb(249, 249, 252);
    margin: 0 5px;
}